.intro_container {
  width: 100%;
  display: grid;
  grid-template-columns: 36% 64%;
  background-color: black;
  height: 69vh;
  margin-bottom: 1vh;
  font-family: $font3;

  .txt-support {
    position: relative;
    margin: 3px auto 0;
    width: 100%;
    height: 65.5vh;
    background: linear-gradient(0 deg, black, rgb(56, 55, 55));
    margin-left: 8px;
    z-index: 1;
  }

  .color-neon::before,
  .color-neon::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
      45deg,
      rgb(225, 222, 222),
      rgb(198, 194, 194),
      rgb(166, 202, 238),
      rgb(200, 194, 194),
      rgb(115, 180, 244),
      rgb(165, 226, 248),
      rgb(96, 134, 187)
    );
    background-size: 400%;
    width: calc(100%);
    height: calc(100%);
    z-index: -1;
    animation: animate 20s linear infinite;
    margin-top: 8px;

    @keyframes animate {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  }

  .color-neon::after {
    filter: blur(20px);
  }
  .txt-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: black;
    text-align: left;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 0;
    height: 66vh;
    width: 100%;

    p {
      margin: 5%;
    }

    div {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin-top: 8%;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;

        &:hover {
          color: red;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  .img-container {
    margin: 0 0 1% 1.5%;
    padding: 0px;
    background: url(../img/system.jpg) center/cover;
    width: 98%;
    height: 66vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
